body {
    background-color: #6A9C89;
}

.score,
.game-over,
.pause-game {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-family: "Press Start 2P", system-ui;
}

.canvas {
    height: 600px;
    width: 600px;
    border: 1px solid #ccc;
    margin: 100px auto;
    position: relative;
    background-color: #FCFAEE;
}

.snake-body {
    height: 4%;
    width: 4%;
    background-color: black;
    border: 1px solid #fff;
    position: absolute;
}

.food {
    height: 4%;
    width: 4%;
    background-color: red;
    border: 1px solid #fff;
    position: absolute;
}

.start-button,
.pause-button {
    padding: 32px 48px;
    border: none;
    border-radius: 8px;
    font-size: 28px;
    text-transform: capitalize;
    font-family: "Press Start 2P", system-ui;
    background-color: transparent;
    margin-top: 50px;
}

.start-button:hover,
.pause-button:hover {
    cursor: pointer;
    color: white;
}