.map{
    height: 600px;
    width: 600px;
    border: 1px solid #ccc;
    margin: 40px auto;
    position: relative;
}

.snake-body{
    height: 4%;
    width: 4%;
    background-color: black;
    border: 1px solid #fff;
    position: absolute;
}

.food{
    height: 4%;
    width: 4%;
    background-color: red;
    border: 1px solid #fff;
    position: absolute;
}

.score{
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    font-size: 38px;
}